{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Slang Dictionary{% endblock %}

{% block head %}
{{ super() }}
<!-- Icon by Freepik from Flaticon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">

<!-- Font -->
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<!-- Ionicons -->
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% endblock %}


{% block navbar %}
<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-inverse" style="border-radius: 0; background-color: #34495e; width: 100%">
            <a class="navbar-header navbar-brand" id="logo" href="/" >Slang Dict</a>

            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TIN VO <span class="caret" style="margin-right: 50px;"></span></a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="http://tinvo.xyz/"><i class="ion-briefcase"></i>&nbsp;&nbsp;PORTFOLIO</a></li>
                        <li><a href="http://tinvo.xyz/docs/Resume.pdf"><i class="ion-ios-list"></i>&nbsp;&nbsp;RESUME</a></li>
                        <li><a href="https://github.com/tinvo1101"><i class="ion-social-octocat"></i>&nbsp;&nbsp;GITHUB</a></li>
                        <li><a href="https://www.linkedin.com/in/tin-vo-654440a5"><i class="ion-social-linkedin"></i>&nbsp;&nbsp;LINKEDIN</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
{{ super() }}


<!-- CONTENTS -->
<div class="container">
    <!-- Form -->
    <div class="page-header">
        {{ wtf.quick_form(form) }}
    </div>

    <!-- Flash messages -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <!-- Results -->
    {% if found %}
	<p style="font-size: 30px;">Slang: <span style="color: #e67e22;">{{ word }}</span></p><br>
    <p style="font-size: 30px;">Meaning: <span style="color: #2ecc71;">{{ meaning }}</span></p>
    {% endif %}
</div>



<!-- FOOTER -->
<div class="footer">
    <p style="color: #fff; margin-top: 20px;"><a href="http://tinvo.xyz/" style="color: #fff;">Tin Vo &#169 2016</a></p>
</div>
{% endblock %}